# Python compiled files
__pycache__/
*.pyc

# Environment and configuration files
env.py
db.sqlite3
*.log

# IDE specific files
.vscode/
*.idea/
*.swp
*.swo
*.swn
*.bak
*.sublime-project
*.sublime-workspace
*.tm_properties
