{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d5722e680c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/global_styles.css' %} ">
    <link rel="stylesheet" href="{% static 'css/form_styles.css' %} ">
    <script src="{% static 'js/script.js' %}"></script>
    <title>Azure Bistro | Reservations</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div>
                <a href="{% url 'index' %}" class="font-satisfy logo">Azure Bistro</a>
            </div>
            <div>
                <ul>
                    <li><a href="{% url 'index' %}" class="font-lora">Home</a></li>
                    <li class="dropdown"><a href="{% url 'menu' %}" class="font-lora">Menu</a>
                        <div class="dropdown-content">
                            <a href="{% url 'menu' %}#appetizers">Appetizers</a>
                            <a href="{% url 'menu' %}#main-courses">Main Courses</a>
                            <a href="{% url 'menu' %}#desserts">Desserts</a>
                            <a href="{% url 'menu' %}#drinks">Drinks</a>
                        </div>
                    </li>
                    <li><a href="{% url 'sign_in' %}" class="font-lora">Reserve</a></li>
                    <li><a href="{% url 'contact' %}" class="font-lora">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main id="form-container">
        <h1 class="font-lora">Reserve a table</h1>
        <form id="form" method="POST" action="{% url 'reserve_contact' %}">
            {% csrf_token %}
            <label for="date">Date:</label>
            <input type="date" id="date" name="date">
            <label for="time">Time:</label>
            <select id="time" name="time">
            </select>
            <label for="guests">Number of guests:</label>
            <select id="guests" name="guests">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <div class="submit-button-container">
                <input type="submit" value="Next" id="submit-button" class="font-lato button">
            </div>
        </form>
    </main>
    <footer>
        <section id="map"></section>
        <section class="footer-middle">
            <p>Arenavägen 69, 121 77 Johanneshov</p>
            <p>Tel: 070-4567187</p>
        </section>
        <section class="footer-right">
            <div class="social-media-container">
                <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" class="social-media"><i
                        class="fab fa-facebook fa-lg"></i></a>
                <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" class="social-media"><i
                        class="fab fa-instagram fa-lg"></i></a>
                <a href="https://www.snapchat.com/" target="_blank" rel="noopener noreferrer" class="social-media"><i
                        class="fab fa-snapchat fa-lg"></i></a>
                <a href="https://www.twitter.com/" target="_blank" rel="noopener noreferrer" class="social-media"><i
                        class="fab fa-twitter fa-lg"></i></a>
            </div>
            <p class="copyright">&copy; copyright 2023</p>
        </section>
    </footer>
    <script>
        document.getElementById('form').addEventListener('submit', function (event) {
            // Store the reservation details in local storage
            localStorage.setItem('reservation_date', event.target.date.value);
            localStorage.setItem('reservation_time', event.target.time.value);
            localStorage.setItem('reservation_guests', event.target.guests.value);
        });
    </script>
    <script src="{% static 'js/form_customization.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap">
    </script>
</body>

</html>