#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}


#form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 127, 255, 0.6);
    padding: 30px 50px;
    margin: 50px;
    height: 50vh;
    width: 90%;
    max-width: 500px;
    letter-spacing: 2px;
}

#user_name {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;

}

#user_email {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

#special_request {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

#date {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

#time {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

#password {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

#guests {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

#message {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    height: 100%;
}

.label {
    margin-bottom: 2px;
    cursor: pointer;
}

.submit-button-container {
    display: flex;
    justify-content: center;
}

.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-button {
    width: 50%;
    padding: 8px;
    font-family: 'Lato';
    text-transform: uppercase;
    font-weight: bold;
}

#submit-button {
    width: 50%;
    padding: 8px;
    font-family: 'Lato';
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 50px;
}

.update-button {
    padding: 20px;
}

.delete-button {
    padding: 20px;
}

.update-button:hover {
    background-color: green;
}

.delete-button:hover {
    background-color: red;
}

h1 {
    background-color: #007FFF;
    color: white;
    padding: 20px 50px;
    margin: 20px auto;
    font-size: medium;
    cursor: default;
}

input,
select,
option,
textarea {
    color: black;
}

/* MEDIA QUERY ----------------------------------- */

@media only screen and (min-width: 768px) {
    #contact-form {
        padding: 50px;
    }
}