@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora&family=Satisfy&display=swap');

/* --------------------------------------------------------General Styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: #111B2C;
    min-width: 320px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

a:hover {
    color: #FF7F50;
}

/* --------------------------------------------------------BUTTONS */
.button {
    display: inline-block;
    border: none;
    background-color: #FF7F50;
    color: black;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.button:hover {
    background-color: #e76b3c;
    color: white;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.6);
}

/* --------------------------------------------------------FONTS */
.font-satisfy {
    font-family: 'Satisfy', cursive;
    color: #007FFF;
}

.logo {
    font-size: xx-large;
}

.font-lora {
    font-family: 'Lora', serif;
}

.font-lato {
    font-family: 'Lato';
}

/* --------------------------------------------------------NAVBAR */

header {
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar {
    background-color: #1C2E4A;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 15px;
    width: 100%;
}

.navbar ul {
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar li {
    margin: 15px;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1C2E4A;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* --------------------------------------------------------HERO PAGE*/

.hero-section {
    background: no-repeat center center / cover url('https://res.cloudinary.com/julius-cloud/image/upload/w_300,h_200,c_fill,q_auto/v1682058029/hero-img_hj2ahr.jpg');
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hero-section h1 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-weight: lighter;
}

.hero-button-container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.hours {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hours p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.hero-button {
    padding: 20px;
}

/* --------------------------------------------------------MAIN CONTENT*/

.main {
    padding: 10% 0;
    margin: 33px 0;

}

.content-section {
    display: grid;
    grid-template-columns: 50% 50%;
}

.content-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.appetizer {
    background-color: #007FFF;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-course {
    background-color: rgba(0, 127, 255, 80%);
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dessert {
    background-color: rgba(0, 127, 255, 60%);
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drinks {
    background-color: rgba(0, 127, 255, 40%);
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------------------------------------------------FOOTER */

footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #1C2E4A;
    font-size: larger;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media {
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
}

.social-media:hover {
    background-color: #FF7F50;

}

.copyright {
    margin-top: 10px;
    padding: 5px;
    font-size: x-small;
}

#map {
    width: 40%;
    height: 80px;
    margin: 5px;
}

/* --------------------------------------------------------Media Queries */
@media screen and (max-width: 950px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: smaller;
    }

    .social-media-container {
        display: flex;
    }

    .social-media {
        font-size: small;
        padding: 5px;
    }
}

@media screen and (max-width: 768px) {

    #map {
        width: 60%;
        height: 150px;
    }

    footer {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    #map {
        width: 100%;
        height: 200px;
        margin: 10px 0;
    }

    .footer-right,
    .footer-middle {
        text-align: center;
        margin-bottom: 10px;
    }
}