@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora&family=Satisfy&display=swap');

/* --------------------------------------------------------General Styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: #111B2C;
    min-width: 320px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

a:hover {
    color: #FF7F50;
}

/* --------------------------------------------------------FONTS */
.font-satisfy {
    font-family: 'Satisfy', cursive;
    color: #007FFF;
}

.logo {
    font-size: xx-large;
}

.font-lora {
    font-family: 'Lora', serif;
}

.font-lato {
    font-family: 'Lato';
}

/* --------------------------------------------------------NAVBAR */

.navbar {
    background-color: #1C2E4A;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
}

.navbar ul {
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar li {
    margin: 15px;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1C2E4A;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* --------------------------------------------------------FOOTER */

footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 15px;
    background-color: #1C2E4A;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media {
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
}

.social-media:hover {
    background-color: #FF7F50;

}

.copyright {
    margin-top: 10px;
    padding: 5px;
    font-size: x-small;
}

/* --------------------------------------------------------Media Queries */
@media screen and (max-width: 950px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: smaller;
    }

    .social-media-container {
        display: flex;
    }

    .social-media {
        font-size: small;
        padding: 5px;
    }

    .footer-middle {
        font-size: x-small;
    }
}