{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d5722e680c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/global_styles.css' %} ">
    <link rel="stylesheet" href="{% static 'css/menu_styles.css' %} ">
    <script src="{% static 'js/script.js' %}"></script>
    <title>Azure Bistro | Menu</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div>
                <a href="{% url 'index' %}" class="font-satisfy logo">Azure Bistro</a>
            </div>
            <div>
                <ul>
                    <li><a href="{% url 'index' %}" class="font-lora">Home</a></li>
                    <li class="dropdown"><a href="{% url 'menu' %}" class="font-lora">Menu</a>
                        <div class="dropdown-content">
                            <a href="#appetizers">Appetizers</a>
                            <a href="#main-courses">Main Courses</a>
                            <a href="#desserts">Desserts</a>
                            <a href="#drinks">Drinks</a>
                        </div>
                    </li>
                    <li><a href="{% url 'sign_in' %}" class="font-lora">Reserve</a></li>
                    <li><a href="{% url 'contact' %}" class="font-lora">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <section id="menu">
        <section>
            <h2 id="appetizers" class="font-lora">Appetizers Menu</h2>
            <ul class="menu-list">
                <li>
                    <p class="dish-name">Bruschetta</p>
                    <p class="dish-price">65 kr</p>
                </li>
                <li>
                    <p class="dish-name">Caprese Salad</p>
                    <p class="dish-price">80 kr</p>
                </li>
                <li>
                    <p class="dish-name">Garlic Bread</p>
                    <p class="dish-price">50 kr</p>
                </li>
                <li>
                    <p class="dish-name">Stuffed Mushrooms</p>
                    <p class="dish-price">75 kr</p>
                </li>
                <li>
                    <p class="dish-name">Calamari</p>
                    <p class="dish-price">90 kr</p>
                </li>
            </ul>
        </section>

        <section>
            <h2 id="main-courses" class="font-lora">Main Course Menu</h2>
            <ul class="menu-list">
                <li>
                    <p class="dish-name">Grilled Salmon</p>
                    <p class="dish-price">185 kr</p>
                </li>
                <li>
                    <p class="dish-name">Pasta Primavera</p>
                    <p class="dish-price">160 kr</p>
                </li>
                <li>
                    <p class="dish-name">Chicken Alfredo</p>
                    <p class="dish-price">155 kr</p>
                </li>
                <li>
                    <p class="dish-name">Steak Frites</p>
                    <p class="dish-price">220 kr</p>
                </li>
                <li>
                    <p class="dish-name">Vegetarian Stir Fry</p>
                    <p class="dish-price">140 kr</p>
                </li>
            </ul>
        </section>

        <section>
            <h2 id="desserts" class="font-lora">Dessert Menu</h2>
            <ul class="menu-list">
                <li>
                    <p class="dish-name">Tiramisu</p>
                    <p class="dish-price">75 kr</p>
                </li>
                <li>
                    <p class="dish-name">Chocolate Lava Cake</p>
                    <p class="dish-price">85 kr</p>
                </li>
                <li>
                    <p class="dish-name">Cheesecake</p>
                    <p class="dish-price">80 kr</p>
                </li>
                <li>
                    <p class="dish-name">Creme Brulee</p>
                    <p class="dish-price">70 kr</p>
                </li>
                <li>
                    <p class="dish-name">Apple Pie</p>
                    <p class="dish-price">65 kr</p>
                </li>
            </ul>
        </section>

        <section>
            <h2 id="drinks" class="font-lora">Drinks Menu</h2>
            <ul class="menu-list">
                <li>
                    <p class="dish-name">Mojito</p>
                    <p class="dish-price">100 kr</p>
                </li>
                <li>
                    <p class="dish-name">Pina Colada</p>
                    <p class="dish-price">110 kr</p>
                </li>
                <li>
                    <p class="dish-name">Margarita</p>
                    <p class="dish-price">105 kr</p>
                </li>
                <li>
                    <p class="dish-name">Old Fashioned</p>
                    <p class="dish-price">120 kr</p>
                </li>
                <li>
                    <p class="dish-name">Gin and Tonic</p>
                    <p class="dish-price">95 kr</p>
                </li>
            </ul>
        </section>
    </section>
    <footer>
        <section id="map"></section>
        <section class="footer-middle">
            <p class="font-lato">Arenavägen 69, 121 77 Johanneshov</p>
            <p class="font-lato">Tel: 070-4567187</p>
        </section>
        <section class="footer-right">
            <div class="social-media-container">
                <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" class="social-media"><i
                        class="fab fa-facebook fa-lg"></i></a>
                <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" class="social-media"><i
                        class="fab fa-instagram fa-lg"></i></a>
                <a href="https://www.snapchat.com/" target="_blank" rel="noopener noreferrer" class="social-media"><i
                        class="fab fa-snapchat fa-lg"></i></a>
                <a href="https://www.twitter.com/" target="_blank" rel="noopener noreferrer" class="social-media"><i
                        class="fab fa-twitter fa-lg"></i></a>
            </div>
            <p class="copyright font-lato">&copy; copyright 2023</p>
        </section>
    </footer>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap">
    </script>
</body>

</html>