{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d5722e680c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/global_styles.css' %} ">
    <script src="https://cdn.emailjs.com/sdk/2.3.2/email.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/contact.js' %}"></script>
    <title>Azure Bistro | Contact</title>
</head>

<body>
    <nav class="navbar">
        <div>
            <a href="{% url 'index' %}" class="font-satisfy logo">Azure Bistro</a>
        </div>
        <div>
            <ul>
                <li><a href="{% url 'index' %}" class="font-lora">Home</a></li>
                <li class="dropdown"><a href="{% url 'menu' %}" class="font-lora">Menu</a>
                    <div class="dropdown-content">
                        <a href="{% url 'menu' %}#appetizers">Appetizers</a>
                        <a href="{% url 'menu' %}#main-courses">Main Courses</a>
                        <a href="{% url 'menu' %}#desserts">Desserts</a>
                        <a href="{% url 'menu' %}#drinks">Drinks</a>
                    </div>
                </li>
                <li><a href="{% url 'reserve' %}" class="font-lora">Reserve</a></li>
                <li><a href="{% url 'contact' %}" class="font-lora">Contact</a></li>
            </ul>
        </div>
    </nav>
    <form id="contact-form" onsubmit="return sendEmail(this)">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="user_name" required>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="user_email" required>
        </div>
        <div>
            <label for="subject">Subject</label>
            <input type="text" id="subject" name="subject" required>
        </div>
        <div>
            <label for="message">Message</label>
            <textarea id="message" name="message" required></textarea>
        </div>
        <button type="submit">Send Message</button>
    </form>
    <footer>
        <section id="map"></section>
        <section class="footer-middle">
            <p>Arenavägen 69, 121 77 Johanneshov</p>
            <p>Tel: 070-4567187</p>
        </section>
        <section class="footer-right">
            <div class="social-media-container">
                <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" class="social-media"><i
                        class="fab fa-facebook fa-lg"></i></a>
                <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" class="social-media"><i
                        class="fab fa-instagram fa-lg"></i></a>
                <a href="https://www.snapchat.com/" target="_blank" rel="noopener noreferrer" class="social-media"><i
                        class="fab fa-snapchat fa-lg"></i></a>
                <a href="https://www.twitter.com/" target="_blank" rel="noopener noreferrer" class="social-media"><i
                        class="fab fa-twitter fa-lg"></i></a>
            </div>
            <p class="copyright">&copy; copyright 2023</p>
        </section>
    </footer>
    <script async src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap">
    </script>
</body>

</html>