{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Welcome to Azure Bistro, the best restaurant in town! Our menu is full of delicious and unique dishes that are sure to delight your taste buds. Join us for a relaxing dining experience in our cozy and stylish restaurant. Reserve your table today!">
    <script src="https://kit.fontawesome.com/d5722e680c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/global_styles.css' %} ">
    <script src="{% static 'js/script.js' %}"></script>
    <title>Azure Bistro</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div>
                <a href="{% url 'index' %}" class="font-satisfy logo">Azure Bistro</a>
            </div>
            <div>
                <ul>
                    <li><a href="{% url 'index' %}" class="font-lora">Home</a></li>
                    <li class="dropdown"><a href="{% url 'menu' %}" class="font-lora">Menu</a>
                        <div class="dropdown-content">
                            <a href="{% url 'menu' %}#appetizers" class="font-lora">Appetizers</a>
                            <a href="{% url 'menu' %}#main-courses" class="font-lora">Main Courses</a>
                            <a href="{% url 'menu' %}#desserts" class="font-lora">Desserts</a>
                            <a href="{% url 'menu' %}#drinks" class="font-lora">Drinks</a>
                        </div>
                    </li>
                    <li><a href="{% url 'reserve' %}" class="font-lora">Reserve</a></li>
                    <li><a href="{% url 'contact' %}" class="font-lora">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="hero-section">
        <h1 class="logo font-satisfy">Azure Bistro</h1>
        <div class="hero-button-container">
            <a href="{% url 'menu' %}" class="font-lora button hero-button">Menu</a>
            <a href="{% url 'menu' %}#drinks" class="font-lora button hero-button">Drinks</a>
            <a href="{% url 'reserve' %}" class="font-lora button hero-button">Reserve</a>
        </div>
        <div class="hours">
            <p class="font-lato">Mon - Fri: 16:00 - 02:00</p>
            <p class="font-lato">Sat - Sun: 18:00 - 00:00</p>
        </div>
    </section>
    <main class="main">
        <a href=" {% url 'menu' %}#appetizers">
            <section class="content-section ">
                <h2 class="appetizer font-lora">Appetizers</h2>
                <img src="https://res.cloudinary.com/julius-cloud/image/upload/w_300,h_200,c_fill,q_auto/v1682058051/appetizer_pygzpl.jpg"
                    class="image"
                    srcset="https://res.cloudinary.com/julius-cloud/image/upload/w_300,h_200,c_fill,q_auto/v1682058051/appetizer_pygzpl.jpg 300w, https://res.cloudinary.com/julius-cloud/image/upload/w_600,h_400,c_fill,q_auto/v1682058051/appetizer_pygzpl.jpg 600w, https://res.cloudinary.com/julius-cloud/image/upload/w_900,h_600,c_fill,q_auto/v1682058051/appetizer_pygzpl.jpg 900w"
                    alt="Image of a appetizer" sizes="(max-width: 768px) 50vw, 100vw">
            </section>
        </a>
        <a href="{% url 'menu' %}#main-courses">
            <section class="content-section ">
                <img src="https://res.cloudinary.com/julius-cloud/image/upload/w_300,h_200,c_fill,q_auto/v1682058037/main-course_v3ugaw.jpg"
                    srcset="https://res.cloudinary.com/julius-cloud/image/upload/w_300,h_200,c_fill,q_auto/v1682058037/main-course_v3ugaw.jpg 300w, https://res.cloudinary.com/julius-cloud/image/upload/w_600,h_400,c_fill,q_auto/v1682058037/main-course_v3ugaw.jpg 600w, https://res.cloudinary.com/julius-cloud/image/upload/w_900,h_600,c_fill,q_auto/v1682058037/main-course_v3ugaw.jpg 900w"
                    alt="Image of a signature main course" sizes="(max-width: 768px) 50vw, 100vw">
                <h2 class="main-course font-lora">Main Course</h2>
            </section>
        </a>
        <a href="{% url 'menu' %}#desserts">
            <section class="content-section">
                <h2 class="dessert font-lora">Dessert</h2>
                <img src="https://res.cloudinary.com/julius-cloud/image/upload/w_300,h_200,c_fill,q_auto/v1682058009/dessert_vvt3g7.jpg"
                    srcset="https://res.cloudinary.com/julius-cloud/image/upload/w_300,h_200,c_fill,q_auto/v1682058009/dessert_vvt3g7.jpg 300w, https://res.cloudinary.com/julius-cloud/image/upload/w_600,h_400,c_fill,q_auto/v1682058009/dessert_vvt3g7.jpg 600w, https://res.cloudinary.com/julius-cloud/image/upload/w_900,h_600,c_fill,q_auto/v1682058009/dessert_vvt3g7.jpg 900w"
                    alt="Image of a tiramisu dessert" sizes="(max-width: 768px) 50vw, 100vw">
            </section>
        </a>
        <a href="{% url 'menu' %}#drinks">
            <section class="content-section">
                <img src="https://res.cloudinary.com/julius-cloud/image/upload/w_300,h_200,c_fill,q_auto/v1682058016/drinks_u5mnay.jpg"
                    srcset="https://res.cloudinary.com/julius-cloud/image/upload/w_300,h_200,c_fill,q_auto/v1682058016/drinks_u5mnay.jpg 300w, https://res.cloudinary.com/julius-cloud/image/upload/w_600,h_400,c_fill,q_auto/v1682058016/drinks_u5mnay.jpg 600w, https://res.cloudinary.com/julius-cloud/image/upload/w_900,h_600,c_fill,q_auto/v1682058016/drinks_u5mnay.jpg 900w"
                    alt="Image of a colorful cocktail" sizes="(max-width: 768px) 50vw, 100vw">
                <h2 class="drinks font-lora">Drinks</h2>
            </section>
        </a>
    </main>
    <footer>
        <section id="map"></section>
        <section class="footer-middle">
            <p class="font-lato">Arenavägen 69, 121 77 Johanneshov</p>
            <p class="font-lato">Tel: 070-4567187</p>
        </section>
        <section class="footer-right">
            <div class="social-media-container">
                <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" class="social-media"><i
                        class="fab fa-facebook fa-lg"></i></a>
                <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" class="social-media"><i
                        class="fab fa-instagram fa-lg"></i></a>
                <a href="https://www.snapchat.com/" target="_blank" rel="noopener noreferrer" class="social-media"><i
                        class="fab fa-snapchat fa-lg"></i></a>
                <a href="https://www.twitter.com/" target="_blank" rel="noopener noreferrer" class="social-media"><i
                        class="fab fa-twitter fa-lg"></i></a>
            </div>
            <p class="copyright font-lato">&copy; copyright 2023</p>
        </section>
    </footer>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap">
    </script>
</body>

</html>