{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d5722e680c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/global_styles.css' %} ">
    <script src="{% static 'js/script.js' %}"></script>
    <title>Azure Bistro | Menu</title>
</head>

<body>
    <nav class="navbar">
        <div>
            <a href="{% url 'index' %}" class="font-satisfy logo">Azure Bistro</a>
        </div>
        <div>
            <ul>
                <li><a href="{% url 'index' %}" class="font-lora">Home</a></li>
                <li class="dropdown"><a href="{% url 'menu' %}" class="font-lora">Menu</a>
                    <div class="dropdown-content">
                        <a href="#appetizers">Appetizers</a>
                        <a href="#main-courses">Main Courses</a>
                        <a href="#desserts">Desserts</a>
                        <a href="#drinks">Drinks</a>
                    </div>
                </li>
                <li><a href="{% url 'reserve' %}" class="font-lora">Reserve</a></li>
                <li><a href="{% url 'contact' %}" class="font-lora">Contact</a></li>
            </ul>
        </div>
    </nav>
    <section id="appetizers">
        <h1>Appetizers Menu</h1>
        <ul class="menu-list">
            <li>
                <span class="dish-name">Bruschetta</span>
                <span class="dish-price">65 kr</span>
            </li>
            <li>
                <span class="dish-name">Caprese Salad</span>
                <span class="dish-price">80 kr</span>
            </li>
            <li>
                <span class="dish-name">Garlic Bread</span>
                <span class="dish-price">50 kr</span>
            </li>
            <li>
                <span class="dish-name">Stuffed Mushrooms</span>
                <span class="dish-price">75 kr</span>
            </li>
            <li>
                <span class="dish-name">Calamari</span>
                <span class="dish-price">90 kr</span>
            </li>
        </ul>
    </section>

    <section id="main-courses">
        <h1>Main Course Menu</h1>
        <ul class="menu-list">
            <li>
                <span class="dish-name">Grilled Salmon</span>
                <span class="dish-price">185 kr</span>
            </li>
            <li>
                <span class="dish-name">Pasta Primavera</span>
                <span class="dish-price">160 kr</span>
            </li>
            <li>
                <span class="dish-name">Chicken Alfredo</span>
                <span class="dish-price">155 kr</span>
            </li>
            <li>
                <span class="dish-name">Steak Frites</span>
                <span class="dish-price">220 kr</span>
            </li>
            <li>
                <span class="dish-name">Vegetarian Stir Fry</span>
                <span class="dish-price">140 kr</span>
            </li>
        </ul>
    </section>

    <section id="desserts">
        <h1>Dessert Menu</h1>
        <ul class="menu-list">
            <li>
                <span class="dish-name">Tiramisu</span>
                <span class="dish-price">75 kr</span>
            </li>
            <li>
                <span class="dish-name">Chocolate Lava Cake</span>
                <span class="dish-price">85 kr</span>
            </li>
            <li>
                <span class="dish-name">Cheesecake</span>
                <span class="dish-price">80 kr</span>
            </li>
            <li>
                <span class="dish-name">Creme Brulee</span>
                <span class="dish-price">70 kr</span>
            </li>
            <li>
                <span class="dish-name">Apple Pie</span>
                <span class="dish-price">65 kr</span>
            </li>
        </ul>
    </section>

    <section id="drinks">
        <h1>Drinks Menu</h1>
        <ul class="menu-list">
            <li>
                <span class="dish-name">Mojito</span>
                <span class="dish-price">100 kr</span>
            </li>
            <li>
                <span class="dish-name">Pina Colada</span>
                <span class="dish-price">110 kr</span>
            </li>
            <li>
                <span class="dish-name">Margarita</span>
                <span class="dish-price">105 kr</span>
            </li>
            <li>
                <span class="dish-name">Old Fashioned</span>
                <span class="dish-price">120 kr</span>
            </li>
            <li>
                <span class="dish-name">Gin and Tonic</span>
                <span class="dish-price">95 kr</span>
            </li>
        </ul>
    </section>
    <footer>
        <section id="map"></section>
        <section class="footer-middle">
            <p>Arenavägen 69, 121 77 Johanneshov</p>
            <p>Tel: 070-4567187</p>
        </section>
        <section class="footer-right">
            <div class="social-media-container">
                <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" class="social-media"><i
                        class="fab fa-facebook fa-lg"></i></a>
                <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" class="social-media"><i
                        class="fab fa-instagram fa-lg"></i></a>
                <a href="https://www.snapchat.com/" target="_blank" rel="noopener noreferrer" class="social-media"><i
                        class="fab fa-snapchat fa-lg"></i></a>
                <a href="https://www.twitter.com/" target="_blank" rel="noopener noreferrer" class="social-media"><i
                        class="fab fa-twitter fa-lg"></i></a>
            </div>
            <p class="copyright">&copy; copyright 2023</p>
        </section>
    </footer>
    <script async src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap">
    </script>
</body>

</html>