{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/global_styles.css' %} ">
    <title>Azure Bistro | Reservations</title>
</head>

<body>
    <nav class="navbar">
        <div>
            <a href="{% url 'index' %}" class="font-satisfy logo">Azure Bistro</a>
        </div>
        <div>
            <ul>
                <li><a href="{% url 'index' %}" class="font-lora">Home</a></li>
                <li class="dropdown"><a href="{% url 'menu' %}" class="font-lora">Menu</a>
                    <div class="dropdown-content">
                        <a href="#">Appetizers</a>
                        <a href="#">Main Courses</a>
                        <a href="#">Desserts</a>
                        <a href="#">Drinks</a>
                    </div>
                </li>
                <li><a href="{% url 'reserve' %}" class="font-lora">Reserve</a></li>
                <li><a href="{% url 'contact' %}" class="font-lora">Contact</a></li>
            </ul>
        </div>
    </nav>
</body>

</html>